@font-face {
    font-family: 'Chopin';
    src: url('/chopin-font-family/Chopin-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* improves loading performance */
}

footer {
    position: relative;
    background-color: #222;
    width: 100vw;
    font-family: 'Chopin';
    font-family: 'Chopin', serif;
    padding-bottom: 0.5rem;
    top: 0;
}

.mainFooterWrapper {
    display: flex;
    padding: 2rem 2rem 0 2rem;
    justify-content: space-evenly;
}

.infoWrapper {
    max-width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.societyInfo {
    text-align: center;
    color: rgb(255, 255, 255);
}

.societyInfo img {
    height: auto;
    width: 40%;
}

.societyInfo p {
    font-size: 17px;
}

.socialMediaHandles {
    color: aliceblue;
    padding: 0 1rem 0 1rem;
}

.contacts {
    font-size: 17px;
    color: aliceblue;
    line-height: 1.1;
    text-align: left;
    padding: 0 1rem 0 1rem;
}

.quickLinks {
    text-align: center;
    padding: 0 1rem 0 1rem;
}

.subHeading {
    font-size: 20px;
    color: #3B82F6;
    text-align: center;
}

.contacts .subHeading {
    text-align: left;
}

.igIcon i {
    background: radial-gradient(circle at 30% 107%, 
                #fdf497 0%, #fdf497 5%, 
                #fd5949 45%, #d6249f 60%, 
                #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.fbIcon, .igIcon, .liIcon, .xIcon  {
    margin: 0 1rem 0 1rem;
}

.footerLink {
    text-decoration: none;
    color: aliceblue;
    display: block;
    padding: 0.5rem;
    text-align: center;
    font-size: 17px;
}

.footerLink:hover, .footerLink:active, .footerLink:focus {
    color: rgb(246, 237, 225);
    transform: scale(1.05);
}

/* For providing underline effect to the quick links when hovered */
.footerLink:hover::after, .footerLink:active::after {
    content: "";
    display: block;
    height: 3px;
    background: #3B82F6;
    animation: ripple-surge 0.4s ease-out;
    transform-origin: left;
}

@keyframes ripple-surge {
    0% {
        transform: scaleX(0);
        opacity: 0;
    }
    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}

.links {
    display: flex;
}

@media (max-width: 992.99px) {
    .mainFooterWrapper {
        display: block;
        padding: 1rem 0.5rem 0 0.5rem;
    }
    .infoWrapper {
        max-width: 100%;
        padding-bottom: 1rem;
    }
    .subHeading {
        color: #3B82F6;
        text-align: center;
        font-size: 22px;
    }
    .links {
        display: flex;
        justify-content: center;
    }
    .societyInfo p {
        font-size: 15px;
    }
    .contacts {
        font-size: 15px;
        text-align: center;
    }
    .contacts .subHeading {
        text-align: center;
    }
    .footerLink {
        font-size: 15px;
    }
    .copyright {
        font-size: 12px;
    }
}

.copyright {
    font-size: 13px;
    color: aliceblue;
    text-align: center;
}