footer {
    position: relative;
    background-color: #222;
    width: 100vw;
    padding-bottom: 0.5rem;
    top: 0;
}

.mainFooterWrapper {
    display: flex;
    padding: 2rem 2rem 0 2rem;
    justify-content: space-around;
}

.infoWrapper {
    max-width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.societyInfo {
    text-align: center;
    color: rgb(255, 255, 255);
}

.societyInfo img {
    height: auto;
    width: 40%;
}

.societyInfo p {
    font-size: 20px;
}

.socialMediaHandles {
    color: aliceblue;
    padding: 0 1rem 0 1rem;
}

.socialMediaHandles h4 {
    color: rgb(115, 154, 239)
}

.contacts {
    font-size: 20px;
    color: aliceblue;
    padding: 0 1rem 0 1rem;
}

.quickLinks {
    text-align: center;
}

.quickLinks h2 {
    color: #003ffc;
}

.contactTitle {
    color: #b1f143;
}

.igIcon i {
    background: radial-gradient(circle at 30% 107%, 
                #fdf497 0%, #fdf497 5%, 
                #fd5949 45%, #d6249f 60%, 
                #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.fbIcon, .igIcon, .liIcon, .xIcon  {
    margin: 0 1rem 0 1rem;
}

.footerLink {
    text-decoration: none;
    color: blanchedalmond;
    display: block;
    padding: 0.5rem;
    text-align: center;
    font-size: 18px;
}

.footerLink:hover, .footerLink:active, .footerLink:focus {
    background-color: rgba(0, 0, 0, 0.977);
    border-radius: 999px;  /* pill shape */
    color: gold;
    transform: scale(1.05);
}

.links {
    display: flex;
}

@media (max-width: 992.99px) {
    .mainFooterWrapper {
        display: block;
        padding: 1rem 0.5rem 0 0.5rem;
    }
    .infoWrapper {
        max-width: 100%;
        padding-bottom: 1rem;
    }
    .links {
        display: flex;
        justify-content: center;
    }
}

.copyright {
    color: aliceblue;
    text-align: center;
}