header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 5rem;
    width: 100%;
    padding: 0.05rem 1rem;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    overflow: visible;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    height: 5rem;
    width: 100vw;
    background-color: rgba(4, 1, 43);
}

#societyLogo {
    height: 5rem;
    width: 160px;
    display: flex;
    align-items: center;
}

#ampereLogo {
    position: relative;
    max-height: 4.5rem;
    max-width: 160px;
    pointer-events: none;
}

.fa-bell {
    z-index: 2;
    font-size: 1.5rem;
    color: rgb(93, 111, 135);
    display: inline-block; 
    padding: 0 2rem;
    align-self: center;
}

.fa-bell:hover, .fa-bell:active, .fa-bell:focus {
    animation: fa-shake 2.5s 1;
}

.nitLogo {
    max-height: 4.3rem;
    margin: 5px;
    filter: drop-shadow(0px 0px 4px rgb(207, 241, 206));
    transition: max-height 0.4s ease, filter 0.4s ease;
    align-self: center;
}

.nitLogo:hover {
    max-height: 4.6rem;
    filter: drop-shadow(0px 0px 4px white);
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

.nav-item {
    display: flex;
    z-index: 3;
    padding: 0.5rem 1.2rem;
}

.nav-link {
    position: relative;
    display: inline-block;
    font-size: 17px;
    color: azure;
    text-align: center;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover, .nav-link:active, .nav-link:focus {
    color: gold;
    background-color: rgba(0, 0, 0, 0.977);
    border-radius: 999px;  /* pill shape */
    transform: scale(1.05);
}

.navbar-toggler {
    position: fixed;
    top: 0;
    right: 5px;
    height: 4.45rem;
    align-self: center;
    color: #f4ebbc;
    font-size: 800;
}

.navbar-toggler:focus {
    box-shadow: none;
    border: none;
}

@media (max-width: 991.98px) {
    #ampereLogo {
        left: -15px;
        max-height: 4.1rem;
    }
    .nitLogo {
        position: fixed;
        right: 4rem;
        align-self: center;
    }
    .navbar-nav {
        padding: 0;
    }
    .nav-item {
        display: block;
        position: relative;
        text-align: center;
        width: 100%;
    }
    .nav-item::after {
        content: "";
        display: block;
        margin: 0.5rem 0;
        height: 3px;
        width: 50vw;
        background: radial-gradient(ellipse at center, rgba(128,128,128,0.4) 0%, rgba(128,128,128,0.3) 70%, transparent 100%);
        align-self: center;
    }
    #navbarNavAltMarkup {
        position: absolute;
        top: 4.95rem;
        right: -16px;
        max-height: 60vh;
        width: 60vw;
        overflow-y: auto;
        z-index: 3;
        background-color: rgba(1, 8, 64);
        align-self: center;
    }
    /* For Designing Scrollbar */
    #navbarNavAltMarkup::-webkit-scrollbar {
        width: 6px;
    }
    #navbarNavAltMarkup::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
    }
    .fa-bell {
        position: absolute;
        right: 7.2rem;
    }
}

/* For providing voltage surge effect to the separator lines after Nav-Items */ 
.nav-item:hover::after, .nav-item:active::after {
    background: radial-gradient(circle, #00ffcc 0%, transparent 80%);
    animation: ripple-surge 0.4s ease-out;
}

@keyframes ripple-surge {
    0% {
        transform: scaleX(0.8);
        opacity: 0.2;
    }
    50% {
        transform: scaleX(1.1);
        opacity: 1;
    }
    100% {
        transform: scaleX(1);
        opacity: 0.4;
    }
}